.gradle
.gitlab-ci.yml
/build/
!gradle/wrapper/gradle-wrapper.jar

#IDEA
.idea
*.iws
*.iml
*.ipr

#sass
.sass-cache/
static/assets/css/scss/

# "temporary" build files
target/
build/
out/
/app/out/
/tmp/

#gradle
.gradle/

